.container {
  max-width: 100rem;
  padding: 5rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  h1 {
    text-transform: capitalize;
    font-size: 5rem;
    text-align: left;
    padding: 0 3rem;
  }
}

.row {
  .title {
    margin-right: 2rem;
  }
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.bottom {
  div {
    font-size: 2rem;
    //margin-left: 1rem;
  }
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  display: flex;
  justify-content: right;
}
.buttons {
  display: flex;
  gap: 2rem;
  svg {
    height: 3rem;
  }
}
.arrow {
  height: 2rem !important;
  margin-top: 0.5rem !important;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
.column {
  display: flex;
  align-items: center;
  gap: 2rem;
  &.column:hover {
    transition: 0.2s;
    & > p {
      opacity: 0.7;
    }
    & > div {
      opacity: 0.3;
    }
  }
  & > div {
    transition: 0.2s;
    opacity: 0;
  }
  p {
    font-size: 3rem;
    color: #479077;
  }
  svg {
    height: 2rem;
    fill: #479077;
    transition: 0.2s;
    transform: rotate(180deg);
  }
  &.asc,
  &.desc {
    transition: 0.5s;

    & > div {
      opacity: 1;
    }
    &:hover > div {
      opacity: 1;
    }
  }
  &.desc {
    svg {
      transform: rotate(0);
    }
  }
}
